*.DS_Store
*.idea/
.DS_Store
.idea/
__pycache__/
mysqlclient/
node_module/
*.code-workspace
*.txt.hist
tempCodeRunner.py
tempCodeRunnerFile.python
../*
.project
.pydevproject
../.DS_Store
../.idea/
../Django/
../Dynamic_Programming/
../Flow Chart/
../Freecodecamp Python/
../Personal_Financial_Manager/
../Python_Test/
../Test_Skill_Check/
../Website/
.py*
